.gallow {
  width: 120px;
  height: 600px;
  border-radius: 5px;
  border-top: 5px solid gray;
  border-left: 5px solid gray;
  margin-top: 50px;
  margin-right: 100px;
}

.man_container {
  position: absolute;
}

.head {
  width: 80px;
  height: 80px;
  border: 2px solid black;
  border-radius: 50%;
  position: relative;
  left: 70px;
}

.torso {
  width: 1px;
  height: 100px;
  border: 1px solid black;
  position: relative;
  left: 108px;
}

.arms {
  transform: skewY(50deg);
}

.left_arm {
  width: 1px;
  height: 70px;
  border: 1px solid black;
  position: relative;
  left: 80px;
  top: -120px;
  transform-origin: 100%;
  transform: rotate(-50deg);
}

.right_arm {
  width: 1px;
  height: 70px;
  border: 1px solid black;
  position: relative;
  left: 135px;
  top: -187px;
  transform-origin: 100%;
  transform: rotate(50deg);
}

.left_leg {
  width: 1px;
  height: 70px;
  border: 1px solid black;
  position: relative;
  left: 84px;
  top: -148px;
  transform-origin: 100%;
  transform: rotate(40deg);
}

.right_leg {
  width: 1px;
  height: 70px;
  border: 1px solid black;
  position: relative;
  left: 131px;
  top: -220px;
  transform-origin: 100%;
  transform: rotate(-40deg);
}