* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  height: 100%;
}

.App {
  display: flex;
  width: 100%;
}

canvas {
  opacity: 90%;
  z-index: -10;
  position: absolute;
}

.topCanvas {
  z-index: 10;
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
}