  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  .App {
    height: 100vmin;
  }

  .instructions_container {
    background-color: #1f1f37;
    height: 100%;
    display: flex;
    z-index: 10;
  }